:root {
    --Primary: #616B80;
    --Secondary: gray;
  }

body {
    margin: 0;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 45px;
}

h2 {
    margin: 0;
    font-size: 32px;
}

h3 {
    margin: 0;
    font-size: 24px;
}

h4 {
    margin: 0;
    font-size: 18px;
}

p {
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
}

/* ---------- Nav bar ---------- */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    background-color: var(--Primary);

    box-shadow: 0 10px 6px 0 lightgray;
}

#name {
    margin-left: 5%;
    color: black;
    white-space: nowrap;
}

.nav-tabs {
    display: flex;

    align-items: flex-end;
    margin-right: 5%;

    height: 100%;
}

.nav-item {
    display: flex;
    padding: 0 35px 0 35px;

    height: 35%;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.nav-item:has(.active) {
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.nav-item:hover {
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}


/* ---------- Page CSS ---------- */

/* header */
.content-title {
    display: flex;
    margin: 5% 0 0 4%;
    padding: 2%;

    width: 92%;
    color: white;
    background: var(--Secondary);
    
    border-radius: 5px 0 0 5px;
}

.content-title img {
    margin-left: 25px;
    height: 50px;
}

/* body */
.content-body {
    margin: 0 5% 5% 10%;

    padding: 1.5em;
    box-sizing: border-box;
    height: fit-content;
    background-color: whitesmoke;

    box-shadow: inset 0 10px 6px 0 lightgray;
    border-radius: 0 0 10px 10px;
}

.content-body > p {
    text-indent: 1.5em;
}

.content-body:not(:first-child) {
    border-radius: 10px;
    padding: 0px;
}

/* ---------- Portfolio and Projects ---------- */

#portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5em;
    justify-content: space-around;
}

.project-container {
    display: flex;
    justify-content: left;
    align-content: center;

    height: 200px;
    width: 450px;
    background-color: white;

    border-radius: 10px;
    box-shadow: 0 10px 6px 0 lightgray;
}

.project-image-container {
    height: 100%;
    width: 40%;
    overflow: hidden;

    border-radius: 10px 0 0 10px;
}

.project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    
    border-radius: 10px 0 0 10px;

    transition: 0.25s;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: 100%;
    width: 60%;
    box-sizing: border-box;

    border-radius: 0 10px 10px 0;
}

.project-info p {
    text-indent: 1.5em;
    margin-top: 0.25em;
}

.project-links {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

/* ---------- Contact ---------- */

form {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    margin-bottom: 1.5em;
    
    height: 25px;
    width: 300px;
    background-color: white;

    border-radius: 5px;
    box-shadow: 0 10px 6px 0 lightgray;
}

label {
    display: block;

    box-sizing: border-box;
    padding: 2px 0 0 5px;
    height: 100%;
    width: 65px;

    border: none;
    outline: none;
}

input {
    height: calc(100% - 2px);
    width: 100%;
    background-color: transparent;

    border: none;
    outline: none;
}

#form-message-container {
    width: 100%;
    height: 150px;
    background-color: white;
    
    border-radius: 5px;
    box-shadow: 0 10px 6px 0 lightgray;
}

#message-label {
    height: 30px;
}

#message-input {
    width: 100%;
    height: calc(100% - 30px);
    box-sizing: border-box;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: transparent;

    border: none;
    outline: none;
}

#message-input::-webkit-scrollbar {
    display: none;
}

#submit-button {
    margin-top: 50px;

    height: 35px;
    width: 150px;
    background-color: white;

    border-radius: 5px;
    border: none;
    box-shadow: 0 10px 6px 0 lightgray;

    cursor: pointer;
}

#submit-button:active {
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.5);
}

/* ---------- Footer ---------- */

#footer {
    display: flex;
    justify-content: space-between;
    margin: -2.5% auto;

    padding: 10px;
    height: fit-content;
    width: 350px;
    background-color: whitesmoke;
    box-shadow: inset 2px 5px 3px 0 lightgray;

    border-radius: 100px;
}

#profile-picture {
    height: 75px;
}

#github {
    height: 75px;
    background-color: whitesmoke;
    
    border-radius: 50%;
    
    transition: 0.15s ease-in-out;
}

#github:hover {
    filter: invert(1);
    cursor: pointer;
}

#linkedin {
    height: 75px;
    background-color: whitesmoke;
    
    border-radius: 50%;
    
    transition: 0.15s ease-in-out;
}

#linkedin:hover {
    filter: invert(1);
    cursor: pointer;
}